<!DOCTYPE html>
<html lang="en">
<head>
    <title>Predmeti i studenti</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <h3>These are our subjects and students:</h3>
    <br>
    <hr>
    <br>
    <a href="/add"><button>Add a student</button></a>
    <br>
    <div class="container">
        <div class="predmeti">
            <h5>Predmeti</h5>
            <ol>
                <% for (let predmet of predmeti ) { %>
                    <li>
                        <a href="/<%= predmet.sifpredmet %>"><%= predmet.nazpredmet %> (<%= predmet.sifpredmet %>)</a>
                    </li>
                <% } %>
            </ol>
        </div>
        <div class="middle">
            <% if (predStud.length > 0) { %>
                <h5>Student na odabranom predmetu:</h5>
                <ul>
                    <% for (let stud of predStud) { %>
                        <li>
                            <a href="/<%= sp %>/<%= stud.jmbag %>"><%= stud.imestudent  %> <%= stud.prezimestudent %></a>
                        </li>
                    <% } %>
                </ul>
            <% } %>
            <% if (studOcj.length > 0) { %>
                <h5>Student <%= studOcj[0].imestudent %> <%= studOcj[0].prezimestudent %> i njegove ocjene:</h5>
                <ul>
                    <% for (let stud of studOcj) { %>
                        <% if (stud.sifpredmet == sp) { %>
                            <li>
                                Predmet: <%= stud.nazpredmet %>, ocjena: 
                                    <span class="badge rounded-pill bg-primary"><%= stud.ocjena %></span>
                            </li>
                        <% } %>
                    <% } %>
                    <% for (let stud of studOcj) { %>
                        <% if (stud.sifpredmet != sp) { %>
                            <li>
                                Predmet: <%= stud.nazpredmet %>, ocjena: 
                                    <span class="badge rounded-pill bg-secondary"><%= stud.ocjena %></span>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>